<div class="row">
    <!-- logo -->
    <div class="col-md-2 d-flex">
        <img src="assets\Logo.jpg" style="width: 250px;">
    </div>
    <!-- home icon -->
    <div class="col-md-2 justify-content-center p-3 mt-1 ">
        <img class="mr-2 mb-1" src="assets\icon.png">
        <i class="fa fa-home"aria-hidden="true" style="color:rgb(113, 187, 3)"></i>
    </div>
    <!-- search -->
    <div class="col-md-5 pr-5 p-3 text-light text-center justify-content-center">
        <i class="fa fa-search pr-2" style="color: rgb(218, 216, 216); font-size: small;" aria-hidden="true"></i>
        <input style="border:none;" placeholder="Search...">
    </div>
    <!-- user -->
    <div class="col-md-3 pt-2 d-flex  justify-content-center">
        <div class="col-md-3 pb-2 text-right">
            <i class="fa fa-bell text-center" style="background-color:rgb(216, 235, 188);color:rgb(113, 187, 3); width: 50px;height: 50px;border-radius: 5px;padding-top: 17px;"></i>
        </div>
        <div class="col-md-9 row border border-success mb-2 mr-3 ml-1" style="border-radius: 5px;">
                <div class="col-md-3 mt-2">
                    <img class="rounded"src="assets\pexels-photo-220453.webp" style="width: 25px;height: 25px;">
                </div>
                <div class="col-md-6 mt-2">
                    <div class="row">
                        <small style="font-size: xx-small;">Welcome</small>
                    </div>
                    <div class="row">
                        <h5 style="font-size: small;">
                            Henry Johns Core
                        </h5>
                    </div>
                </div>
                <div class="col-md-2 mt-2 text-right">
                    <i class="fa fa-caret-down" style="color: rgb(159, 214, 70)"></i>
                </div>
        </div>
    </div>
</div>

