<div>
    <div class="mt-4 ml-2 mb-2">
        <i class="fa fa-search mr-2 ml-4" style="color: rgb(218, 216, 216);font-size: small;" aria-hidden="true"></i>
        <input style="border:none;width: 130px;" type="text" placeholder="Quick menu search..." aria-label="Search">
    </div>
<div style="margin-top: 35px;">
    <ol class="list-group" style="border:none">
        <li (click)="selectedTabOffers()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-file pr-3 text-dark"></i><a href="#" class="text-muted">Offers<i class="fa fa-caret-right" style="margin-left: 84px;"></i></a></li>
        <li (click)="selectedTabBookings()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-bookmark text-dark" style="padding-right: 19px;"></i><a href="#" class="text-muted">Bookings<i class="fa fa-caret-right" style="margin-left: 65px;"></i></a></li>
        <li (click)="selectedTabRental()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-exchange pr-3 text-dark"></i><a href="#" class="text-muted">Rentals<i class="fa fa-caret-right" style="margin-left: 76px;"></i></a></li>
        <li (click)="selectedTabRates()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-briefcase pr-3 text-dark"></i><a href="#" class="text-muted">Rates / Policies<i class="fa fa-caret-right" style="margin-left: 32px;"></i></a></li>
        <li (click)="selectedTabCustomers()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-users pr-3 text-dark"></i><a href="#" class="text-muted">Customers<i class="fa fa-caret-right" style="margin-left: 56px;"></i></a></li>
        <li (click)="selectedTabFinancials()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-credit-card pr-3 text-dark"></i><a href="#" class="text-muted">Financials<i class="fa fa-caret-right" style="margin-left: 61px;"></i></a></li>
        <li (click)="selectedTabFleet()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-car pr-3 text-dark"></i><a href="#" class="text-muted">Fleet<i class="fa fa-caret-right" style="margin-left: 88px;"></i></a></li>
        <li (click)="selectedTabCompany()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-building pr-3 pl-1 text-dark"></i><a href="#" class="text-muted">Company<i class="fa fa-caret-right" style="margin-left: 60px;"></i></a></li>
        <li (click)="selectedTabReports()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-clone text-dark" style="padding-right: 19px;"></i><a href="#" class="text-muted">Reports<i class="fa fa-caret-right" style="margin-left: 70px;"></i></a></li>
        <li (click)="selectedTabSettings()" class="list-group-item border-0 text-muted" style="font-size: small;"><i class="fa fa-cogs pr-3 text-dark"></i><a href="#" class="text-muted">Settings<i class="fa fa-caret-right" style="margin-left: 70px;"></i></a></li>
    </ol>
</div>
</div>